
body {
    font-family: Arial, sans-serif;
    background-color: #c3ca5b;
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height: 100%;
    background-color: rgb(151, 107, 160);
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #cac863;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#heading{
    text-align:center;
}
label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="radio"],
input[type="range"] {
    margin-right: 5px;
}

button {
    background-color: #292502;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #0056b3;
    transform: translateY(1px);
}